/* Grid */
.layout {
  /* Set your own grid   */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-column-gap: .5em;
  grid-row-gap: 1em;
  height:25%;
  font-size: 30px ;
  filter: drop-shadow(0 3px 3px black);
  position: relative;
 
  
 
}

/* Widgets */
section {
  
  padding: 1em;
  
  /* Relative Parent. Absolute Child */
  position: relative;
}

/* Time */
.time {
  border: 4px solid white;
  border-radius: 10px;
  background:none;
  
}

.hours {
}

.minutes {
}

.seconds {
}

.amOrPM {
  
}

/* Date */
.date {
  border: 4px solid white;
  border-radius: 10px;
  background:none;
  text-align: center;
  
  
}

.month {
}

.dayOfMonth {
}

.year {
}

.dayOfWeek {
}

/* Weather */
.weather {
  
  border: 4px solid white;
  border-radius: 10px;
  background:none;
  height: 100%;
  max-width: 100px;
  text-align: center;
  

  
}

.city {
  
}

.temp {
  
}

.weather img {
  
}
body{
  background-color: #343131;
  color: #ffffff;
  text-align: center;
  margin: 1em;
  
}
h1{
  display: none;
}
data{
  font-size: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
  


/* Smart Mirror */
video { 
  
  /* Position video      */
    position: absolute;
    top: 0;
    left: 0;
    /* Stretch to fill viewport */
    width: 100vw;
    height: 100vh;
    /* stack behind content     */
    z-index: -1;
    /* fill background with video    */
  object-fit: cover;
  object-position: center;
  
}